@import url('https://fonts.googleapis.com/css?family=Baloo');

section {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

article {
	border: 2px #606060 solid;
	border-radius: 10px;
	width: 120px;
	height: 120px;
	margin: 15px;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

p {
	font-family: 'Baloo', cursive;
	font-size: 36px;
	text-align: center;
}

article#impar {
	background-color: #dfedd6;
}

article#par {
	background-color: #f7fade;
}